.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  height: 53vh;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  text-transform: uppercase;
  color: white;
  line-height: 4.5rem;
  margin: 0;
  padding-top: 2rem;
  text-shadow: 2px 2px 2px rgba(44, 44, 44, 0.45);
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  height: 24vh;
  padding-top: 1rem;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

.PageHeader--Info-Wrapper {
  position: relative;
  top: -2vh;
}

.PageHeader--Info-Item {
  position: relative;
  top: -2rem;
}

.PageHeader--Icon {
  width: 2rem;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.PageHeader--Icon--Text {
  vertical-align: top;
  margin-left: 0.75rem;
  text-transform: uppercase;
}

.PageHeader--Icon--Label {
  font-size: 1rem;
}

.PageHeader-Sub-Text {
  position: relative;
  top: -2rem;
  left: 3rem;
}

.Icon--DownArrow {
  position: relative;
  top: -5rem;
  width: 90vw;
  text-align: center;
}

@media (max-width: 600px) {
  .PageHeader {
    height: 60vh;
  }
  .Icon--DownArrow {
    top: -4rem;
  }
  .PageHeader--Title {
    font-size: 4rem;
    /* font-weight: 100; */
  }
}

@media (max-width: 340px) {
  .PageHeader {
    height: 78vh;
  }
}
